#by_laboratory .box-header .box-title {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  line-height: 1;
  padding:0;
}
#by_laboratory .panel a .box-header {
    background-color: #eee;
}
#by_laboratory .panel .collapsing, #by_laboratory .panel .collapse.in {
    background-color: #f8f8f8;
}
#by_laboratory .panel a.collapsed .box-header {
    background-color: #FFF;
}
#by_patients table.table tbody td:nth-child(2n) {
    padding: 0;
}
#by_patients table.table tbody td table {
    margin-bottom: 0;
    border-top-style: hidden;
}
