/*#tbform .sampleClass {
    color:red !important;
}*/

#tbform .modal-dialog {
    position:relative; /* This avoids whatever it's absolute inside of it to go off the container */
    /*background-color: red;*/
    width: 80%
}

/*#tbform .modal {
    position:absolute;  This avoids whatever it's absolute inside of it to go off the container
    background-color: red;
    left:50%;
}*/


#tbform table th {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}
#tbform table td {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
}

#tbform td input {
    width:100%;
}
#tbform .specbtn {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #888;
    font-family: "FontAwesome";
    font-size: 18px;
    width: 100%;
    padding: 0;
}
#tbform .specbtnx {
    width: auto;
    padding:0 2px
}
#tbform .specbtn.atp {
    color: #00a65a;
}
#tbform .specbtn.self {
    color: #ff851b;
}
#tbform .specbtn.miss {
    color: rgb(208,0,88);
}
#tbform .select2-container .select2-choice {
    height: 24px;
}
#tbform .select2-container .select2-choice {
    line-height: 22px;
}
#tbform .form-control.switcher {
    height: auto !important;
}

#tbform .pnbtn {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #888;
    font-family: "FontAwesome";
    font-size: 26px;
    width: 100%;
    padding: 0;
}
#tbform .pnbtn.pos {
    color: #00a65a;
}

#tbform .modal-header {
    background-color: #0E8CCD;
    color:white;
}

#tbform .pnbtn.neg {
    color: #ff851b;
}
