.formcf1 {
  background: #FFF url('images/cf1.png') center top no-repeat;
}
.alert-absolute {
  position: absolute;
  width: 82%;
  z-index: 1000;
}
#frame {
  width: 961px;
  margin: auto;
  position: relative;
}